@model IEnumerable<QouToPOWebApp.Models.Company>

@{
    ViewData["Title"] = "Company";
}

<h1>ViewData["Title"]</h1>

<p>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company_name_jpn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address_jpn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postal_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company_name_jpn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address_jpn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postal_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                <a class="editBtn" href="#" data-id="@item.Company_ID">Edit</a> |
                <a class="detailsBtn" href="#" data-id="@item.Company_ID">Details</a> |
                <a class="deleteBtn" href="#" data-id="@item.Company_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Create New Entry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="createForm" asp-controller="Info" asp-action="CreateCompany" method="post">
                <div class="modal-body">
                    <div id="createEntry">
                        <!-- Content loaded via AJAX -->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Entry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editForm" asp-controller="Info" asp-action="EditCompany" method="post">
                <input type="hidden" name="id" id="editID" />
                <div class="modal-body">
                    <div id="editEntry"></div> <!-- Content loaded via AJAX -->
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-warning" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="detailsEntry"></div> <!-- Content loaded via AJAX -->
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <a href="#" class="btn btn-warning editBtn" id="detailsEditBtn" data-id="">Update</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Entry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="deleteEntry"></div> <!-- Content loaded via AJAX -->
            </div>
            <div class="modal-footer">
                <form asp-action="DeleteCompany">
                    <input type="hidden" name="id" id="deleteID" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Load the partial view content into the modal
            $('#createModal').on('show.bs.modal', function () {
                $('#createEntry').load('/Info/CreateCompany');
            });
        });

        $(".editBtn").on("click", function () {
            const id = $(this).data('id');
            $('#editModal').modal('show');
            $('#editEntry').load(`/Info/EditCompany/${id}`);
            $('#editID').val(id);
        });

        $(".detailsBtn").on("click", function () {
            const id = $(this).data('id');
            $('#detailsModal').modal('show');
            $('#detailsEntry').load(`/Info/DetailsCompany/${id}`);
            $('#detailsEditBtn').attr('data-id', id);
        });

        $(".deleteBtn").on("click", function () {
            const id = $(this).data('id');
            $('#deleteModal').modal('show');
            $('#deleteEntry').load(`/Info/DeleteCompany/${id}`);
            $('#deleteID').val(id);
        });
    </script>
}
