@using QouToPOWebApp.Models.InfoModels

@model Contact_person

@{
    ViewData["Title"] = "Contact Person";

    var contactPersons = ViewData["ContactPersons"] as List<Contact_person>;
}

<h1>@ViewData["Title"]</h1>

<p class="mb-4">
    <a class="btn btn-primary shadow" onclick="addContactPerson()">Create New</a>
</p>

<div class="card p-3 border-0 shadow-sm">
    <table class="datatable table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Company.Company_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact_person_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact_person_name_jpn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Key_words)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in contactPersons)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Company_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact_person_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact_person_name_jpn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key_words)
                    </td>
                    <td>
                        <a href="javascript:void(0)" onclick="editContactPerson(@item.Contact_person_ID)">Edit</a> |
                        <a href="javascript:void(0)" onclick="deleteContactPerson(@item.Contact_person_ID)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="contactPersonModal" tabindex="-1" aria-labelledby="createModalLabel" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="contactPersonModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="contactPersonForm" asp-controller="Info" asp-action="" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Contact_person_ID" />
                    <div class="form-group mb-3">
                        <label asp-for="Company_ID" class="form-label"></label><span class="text-danger" title="Required">*</span>
                        <select class="form-select" asp-for="Company_ID" asp-items="ViewBag.CompanyList">
                            <option selected disabled>Choose..</option>
                        </select>
                        <span asp-validation-for="Company_ID" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Contact_person_name" class="control-label"></label><span class="text-danger" title="Required">*</span>
                        <input asp-for="Contact_person_name" class="form-control" required />
                        <span asp-validation-for="Contact_person_name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Contact_person_name_jpn" class="control-label"></label>
                        <input asp-for="Contact_person_name_jpn" class="form-control" />
                        <span asp-validation-for="Contact_person_name_jpn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Key_words" class="control-label"></label>
                        <input asp-for="Key_words" class="form-control" />
                        <span asp-validation-for="Key_words" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <div class="form-group">
                        <a class="btn btn-link" href="javascript:void(0)" data-bs-dismiss="modal">Cancel</a>
                        <a href="javascript:void(0)" class="btn btn-primary" id="modalButton"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Entry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Company.Company_name)
                    </dt>
                    <dd class="col-sm-8" id="company_name">
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact_person_name)
                    </dt>
                    <dd class="col-sm-8" id="contact_person_name">
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact_person_name_jpn)
                    </dt>
                    <dd class="col-sm-8" id="contact_person_name_jpn">
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Key_words)
                    </dt>
                    <dd class="col-sm-8" id="key_words">
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <form asp-action="DeleteContactPerson">
                    <input type="hidden" name="id" id="deleteID" />
                    <a class="btn btn-link" href="javascript:void(0)" data-bs-dismiss="modal">Cancel</a>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("table.datatable").DataTable({
            responsive: true,
            fixedHeader: true
        });

        $(document).ready(function () {
        });

        function addContactPerson() {
            $(".modal-title").text("Add Contact Person");

            $("#modalButton").text("Create");

            $("#contactPersonForm").attr("action", "/Info/CreateContactPerson");

            clearModal();

            // Show the modal
            $("#contactPersonModal").modal("show");
        }

        function editContactPerson(id) {
            clearModal();

            $.ajax({
                url: "/Info/GetContactPerson",
                type: "POST",
                data: {id: id},
                success: function (data) {
                    console.log(data);
                    // Iterate over the properties of the data object and set the corresponding form field values
                    $.each(data, function (key, value) {
                        var elementId = key.charAt(0).toUpperCase() + key.slice(1); // Capitalize the first letter
                        $("#" + elementId).val(value);
                    });

                    // Set the action attribute of the form
                    $("#contactPersonForm").attr("action", "/Info/EditContactPerson/" + data["contact_person_ID"]);
                    $("#contactPersonModalLabel").text("Edit Contact Person");
                    $("#modalButton").text("Update");

                    // Show the modal
                    $("#contactPersonModal").modal("show");
                },
                error: function (response) {
                    console.error("Error:", response.status, response.responseJSON.message);
                    alert("Error: " + response.responseJSON.message);
                }
            });
        };

        function deleteContactPerson(id) {
            $.ajax({
                url: "/Info/GetContactPerson",
                type: "POST",
                data: {id: id},
                success: function (data) {
                    // Iterate over the properties of the data object and set the corresponding form field values
                    $.each(data, function (key, value) {
                        var $element = $("#" + key);
                        if ($element.length) {
                            $element.text(value);
                        }
                    });

                    $("#deleteID").val(data["contact_person_ID"]);

                    // Show the modal
                    $("#deleteModal").modal("show");
                },
                error: function (response) {
                    console.error("Error:", response.status, response.responseJSON.message);
                    alert("Error: " + response.responseJSON.message);
                }
            });
        }

        $("#modalButton").on("click", function() {
            $("#contactPersonForm").submit();
        });
        
        function clearModal() {
            $('input[type="text"]').val('');
            // $('select').prop('selectedIndex', "");

            $(".field-validation-error").text("");
        }
    </script>
}
