@model Delivery_term

@{
    ViewData["Title"] = "Delivery terms";

    var deliveryTerms = ViewData["deliveryTerms"] as List<Delivery_term>;
}

<h1>@ViewData["Title"]</h1>

<p class="mb-4">
    <a class="btn btn-primary shadow" onclick="addDeliveryTerm()">Create New</a>
</p>

<div class="card p-3 border-0 shadow-sm">
    <table class="datatable table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Delivery_term_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delivery_term_name_jpn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Key_words)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in deliveryTerms) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delivery_term_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delivery_term_name_jpn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key_words)
                    </td>
                    <td>
                        <a href="#" onclick="editDeliveryTerm(@item.Delivery_term_ID)">Edit</a> |
                        <a href="#" onclick="deleteDeliveryTerm(@item.Delivery_term_ID)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="deliveryTermModal" tabindex="-1" aria-labelledby="createModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="deliveryTermModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deliveryTermForm" asp-controller="Info" asp-action="" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Delivery_term_ID" />
                    <div class="form-group mb-3">
                        <label asp-for="Delivery_term_name" class="control-label"></label><span class="text-danger" title="Required">*</span>
                        <input asp-for="Delivery_term_name" class="form-control" />
                        <span asp-validation-for="Delivery_term_name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Delivery_term_name_jpn" class="control-label"></label>
                        <input asp-for="Delivery_term_name_jpn" class="form-control" />
                        <span asp-validation-for="Delivery_term_name_jpn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Key_words" class="control-label"></label>
                        <input asp-for="Key_words" class="form-control" />
                        <span asp-validation-for="Key_words" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <div class="form-group">
                        <a class="btn btn-link" href="#" data-bs-dismiss="modal">Cancel</a>
                        <a href="#" class="btn btn-primary" id="modalButton"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="deleteModalLabel">Delete Entry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Delivery_term_name)
                    </dt>
                    <dd class="col-sm-8" id="delivery_term_name">
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Delivery_term_name_jpn)
                    </dt>
                    <dd class="col-sm-8" id="delivery_term_name_jpn">
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Key_words)
                    </dt>
                    <dd class="col-sm-8" id="key_words">
                    </dd>
                </dl>
            </div>
            <div class="modal-footer border-0">
                <form asp-action="DeleteDeliveryTerm">
                    <input type="hidden" name="id" id="deleteID" />
                    <a class="btn btn-link" href="#" data-bs-dismiss="modal">Cancel</a>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("table.datatable").DataTable({
                responsive: true,
                fixedHeader: true
            });
        });

        function addDeliveryTerm() {
            $(".modal-title").text("Add Delivery Term");

            $("#modalButton").text("Create");

            $("#deliveryTermForm").attr("action", "/Info/CreateDeliveryTerm");

            clearModal();

            // Show the modal
            $("#deliveryTermModal").modal("show");
        }

        function editDeliveryTerm(id) {
            clearModal();
            
            $.ajax({
                url: "/Info/GetDeliveryTerm",
                type: "POST",
                data: {id: id},
                success: function (data) {
                    // Iterate over the properties of the data object and set the corresponding form field values
                    $.each(data, function (key, value) {
                        var elementId = key.charAt(0).toUpperCase() + key.slice(1); // Capitalize the first letter
                        $("#" + elementId).val(value);
                    });

                    // Set the action attribute of the form
                    $("#deliveryTermForm").attr("action", "/Info/EditDeliveryTerm/" + data["delivery_term_ID"]);
                    $("#deliveryTermModalLabel").text("Edit Delivery Term");
                    $("#modalButton").text("Update");

                    // Show the modal
                    $("#deliveryTermModal").modal("show");
                },
                error: function (response) {
                    console.error("Error:", response.status, response.responseJSON.message);
                    alert("Error: " + response.responseJSON.message);
                }
            });
        };

        function deleteDeliveryTerm(id) {
            
            $.ajax({
                url: "/Info/GetDeliveryTerm",
                type: "POST",
                data: {id: id},
                success: function (data) {
                    // Iterate over the properties of the data object and set the corresponding form field values
                    $.each(data, function (key, value) {
                        var $element = $("#" + key);
                        if ($element.length) {
                            $element.text(value);
                        }
                    });

                    $("#deleteID").val(data["delivery_term_ID"]);

                    // Show the modal
                    $("#deleteModal").modal("show");
                },
                error: function (response) {
                    console.error("Error:", response.status, response.responseJSON.message);
                    alert("Error: " + response.responseJSON.message);
                }
            });
        }

        $("#modalButton").on("click", function() {
            $("#deliveryTermForm").submit();
        });
        
        function clearModal() {
            $('input[type="text"]').val('');
            // $('select').prop('selectedIndex', "");

            $(".field-validation-error").text("");
        }
    </script>
}
