@using QouToPOWebApp.Models.InfoModels

@model Payment_term

@{
    ViewData["Title"] = "Payment terms";

    var paymentTerms = ViewData["paymentTerms"] as List<Payment_term>;
}

<h1>@ViewData["Title"]</h1>

<p class="mb-4">
    <a class="btn btn-primary shadow" onclick="addPaymentTerm()">Create New</a>
</p>

<div class="card p-3 border-0 shadow-sm">
    <table class="table table-hover" id="paymentTermTable">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment_term_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment_term_name_jpn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Key_words)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in paymentTerms) {
                <tr>
                    <td></td>
                    <td class="td-control">
                        @Html.DisplayFor(modelItem => item.Payment_term_name)
                    </td>
                    <td class="td-control">
                        @Html.DisplayFor(modelItem => item.Payment_term_name_jpn)
                    </td>
                    <td class="td-control">
                        @Html.DisplayFor(modelItem => item.Key_words)
                    </td>
                    <td class="text-nowrap">
                        <a class="btn btn-sm btn-light me-1" href="javascript:void(0)" onclick="editPaymentTerm(@item.Payment_term_ID)">Edit</a>
                        <a class="btn btn-sm btn-light text-danger" href="javascript:void(0)" onclick="deletePaymentTerm(@item.Payment_term_ID)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="paymentTermModal" tabindex="-1" aria-labelledby="createModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="paymentTermModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="paymentTermForm" asp-controller="Info" asp-action="" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Payment_term_ID" />
                    <div class="form-group mb-3">
                        <label asp-for="Payment_term_name" class="control-label"></label><span class="text-danger" title="Required">*</span>
                        <input asp-for="Payment_term_name" class="form-control" />
                        <span asp-validation-for="Payment_term_name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Payment_term_name_jpn" class="control-label"></label>
                        <input asp-for="Payment_term_name_jpn" class="form-control" />
                        <span asp-validation-for="Payment_term_name_jpn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Key_words" class="control-label"></label>
                        <input asp-for="Key_words" class="form-control" />
                        <span asp-validation-for="Key_words" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <div class="form-group">
                        <a class="btn btn-link" href="javascript:void(0)" data-bs-dismiss="modal">Cancel</a>
                        <a href="javascript:void(0)" class="btn btn-primary" id="modalButton"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="deleteModalLabel">Delete Entry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Payment_term_name)
                    </dt>
                    <dd class="col-sm-8" id="payment_term_name">
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Payment_term_name_jpn)
                    </dt>
                    <dd class="col-sm-8" id="payment_term_name_jpn">
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Key_words)
                    </dt>
                    <dd class="col-sm-8" id="key_words">
                    </dd>
                </dl>
            </div>
            <div class="modal-footer border-0">
                <form asp-action="DeletePaymentTerm">
                    <input type="hidden" name="id" id="deleteID" />
                    <a class="btn btn-link" href="javascript:void(0)" data-bs-dismiss="modal">Cancel</a>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $.extend(true, $.fn.dataTable.defaults, {
            colReorder: {
                columns: ':gt(0)'
            },
            stateSave: true,
            stateSaveParams: function (settings, data) {
                data.search.search = '';
                data.start = 0;
            },
            responsive: true,
            fixedHeader: true,
            layout: {
                topStart: 'pageLength',
                topEnd: {
                    search: {
                        placeholder: 'Search'
                    },
                    buttons: [
                        {
                            extend: 'colvis',
                            text: 'Show/Hide columns',
                            className: 'btn btn-sm btn-secondary-subtle',
                            columns: ':not(.dt-control)', // Exclude control column
                            attr: {
                                title: 'Toggle visibility of table columns'
                            }
                        },
                        {
                            text: 'Restore table <i class="bi bi-arrow-clockwise"></i>',
                            className: 'btn btn-sm btn-secondary',
                            attr: {
                                title: 'Reset table column visibility and order'
                            },
                            action: function (e, dt, node, config) {
                                const tableId = dt.table().node().id;

                                dt.state.clear(); // Clear saved state
                                dt.destroy(); // Destroy DataTable instance

                                // Replace the old table DOM with the original clone
                                const $original = originalTableHTML[tableId].clone();
                                $('#' + tableId).replaceWith($original);

                                // Reinitialize
                                initPaymentTermTable();
                            }
                        }
                    ]
                },
                bottomStart: 'info',
                bottomEnd: 'paging'
            },
            order: [[1, 'desc']]
        });


        function initPaymentTermTable() {
            $("#paymentTermTable").DataTable({
                columnDefs: [
                    {
                        targets: 0,
                        className: 'dt-control',
                        orderable: false,
                        defaultContent: '',
                        width: '20px'
                    },
                    {
                        targets: 3,
                        visible: false,
                        searchable: true
                    },
                    {
                        targets: 4,
                        searchable: false,
                        orderable: false
                    }
                ]
            });
        }

        const originalTableHTML = {}; // Use for cloning original table DOM

        $(document).ready(function () {
            originalTableHTML["paymentTermTable"] = $('#paymentTermTable').clone(); // Deep copy
            initPaymentTermTable();

        });


        $(document).on("click", ".dt-control, .td-control", function () {
            var $tableElement = $(this).closest('table');

            var tr = $(this).closest('tr');
            var table = $tableElement.DataTable(); // Get the correct DataTable instance
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
            } else {
                var rowData = row.data();
                var childData = '<table class="table table-bordered table-sm mb-0 w-100">';

                table.columns().every(function (index) {
                    if (!this.visible() && index !== 0) {
                        var header = $(table.column(index).header()).text();
                        childData += `
                            <tr>
                                <th class="px-2 text-nowrap" style="width:2%;">${header}</th>
                                <td class="px-2">${rowData[index] ? rowData[index] : '<span class="text-secondary">-</span>'}</td>
                            </tr>`;
                    }
                });

                childData += '</table>';

                row.child(childData || '<em>No row child data</em>').show();
                tr.addClass('shown');
            }
        });

        function addPaymentTerm() {
            $(".modal-title").text("Add Payment Term");

            $("#modalButton").text("Create");

            $("#paymentTermForm").attr("action", "/Info/CreatePaymentTerm");

            clearModal();

            // Show the modal
            $("#paymentTermModal").modal("show");
        }

        function editPaymentTerm(id) {
            clearModal();
            
            $.ajax({
                url: "/Info/GetPaymentTerm",
                type: "POST",
                data: {id: id},
                success: function (data) {
                    // Iterate over the properties of the data object and set the corresponding form field values
                    $.each(data, function (key, value) {
                        var elementId = key.charAt(0).toUpperCase() + key.slice(1); // Capitalize the first letter
                        $("#" + elementId).val(value);
                    });

                    // Set the action attribute of the form
                    $("#paymentTermForm").attr("action", "/Info/EditPaymentTerm/" + data["payment_term_ID"]);
                    $("#paymentTermModalLabel").text("Edit Payment Term");
                    $("#modalButton").text("Update");

                    // Show the modal
                    $("#paymentTermModal").modal("show");
                },
                error: function (response) {
                    console.error("Error:", response.status, response.responseJSON.message);
                    alert("Error: " + response.responseJSON.message);
                }
            });
        };

        function deletePaymentTerm(id) {
            $.ajax({
                url: "/Info/GetPaymentTerm",
                type: "POST",
                data: {id: id},
                success: function (data) {
                    // Iterate over the properties of the data object and set the corresponding form field values
                    $.each(data, function (key, value) {
                        var $element = $("#" + key);
                        if ($element.length) {
                            $element.text(value);
                        }
                    });

                    $("#deleteID").val(data["payment_term_ID"]);

                    // Show the modal
                    $("#deleteModal").modal("show");
                },
                error: function (response) {
                    console.error("Error:", response.status, response.responseJSON.message);
                    alert("Error: " + response.responseJSON.message);
                }
            });
        }

        $("#modalButton").on("click", function() {
            $("#paymentTermForm").submit();
        });
        
        function clearModal() {
            $('input[type="text"]').val('');
            // $('select').prop('selectedIndex', "");

            $(".field-validation-error").text("");
        }
    </script>
}
