@model Supplier

@{
    ViewData["Title"] = "Supplier";

    var companies = ViewData["suppliers"] as List<Supplier>;
}

<h1>@ViewData["Title"]</h1>

<p>
    <button type="button" class="btn btn-success" onclick="addSupplier()">Create New</button>
</p>
<table class="datatable table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company.Company_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Key_words)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in companies) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Company_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact_person)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key_words)
                </td>
                <td>
                    <a href="#" onclick="editSupplier(@item.Supplier_ID)">Edit</a> |
                    <a href="#" onclick="deleteSupplier(@item.Supplier_ID)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="supplierModal" tabindex="-1" aria-labelledby="createModalLabel" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="supplierModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="supplierForm" asp-controller="Info" asp-action="" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Supplier_ID" />
                    <div class="form-group mb-3">
                        <label asp-for="Company_ID" class="form-label"></label>
                        <select class="form-select" asp-for="Company_ID" asp-items="ViewBag.CompanyList">
                            <option selected disabled>Choose..</option>
                        </select>
                        <span asp-validation-for="Company_ID" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Contact_person" class="control-label"></label>
                        <input asp-for="Contact_person" class="form-control" />
                        <span asp-validation-for="Contact_person" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Contact_person_jpn" class="control-label"></label>
                        <input asp-for="Contact_person_jpn" class="form-control" />
                        <span asp-validation-for="Contact_person_jpn" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Key_words" class="control-label"></label>
                        <input asp-for="Key_words" class="form-control" />
                        <span asp-validation-for="Key_words" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <a href="#" class="btn btn-primary" id="modalButton"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Entry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Company.Company_name)
                    </dt>
                    <dd class="col-sm-8" id="company_name">
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact_person)
                    </dt>
                    <dd class="col-sm-8" id="contact_person">
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Contact_person_jpn)
                    </dt>
                    <dd class="col-sm-8" id="contact_person_jpn">
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Key_words)
                    </dt>
                    <dd class="col-sm-8" id="key_words">
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <form asp-action="DeleteSupplier">
                    <input type="hidden" name="id" id="deleteID" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("table.datatable").DataTable({
                responsive: true,
                fixedHeader: true
            });
        });

        function addSupplier() {
            $(".modal-title").text("Add Supplier");

            $("#modalButton").text("Create");

            $("#supplierForm").attr("action", "/Info/CreateSupplier");

            clearModal();

            // Show the modal
            $("#supplierModal").modal("show");
        }

        function editSupplier(id) {
            clearModal();

            var postData = {
                id: id
                // __RequestVerificationToken: getToken()
            };

            $.post("/Info/GetSupplier", postData, function (data) {
                // Iterate over the properties of the data object and set the corresponding form field values
                $.each(data, function (key, value) {
                    var elementId = key.charAt(0).toUpperCase() + key.slice(1); // Capitalize the first letter
                    $("#" + elementId).val(value);
                });

                // Set the action attribute of the form
                $("#supplierForm").attr("action", "/Info/EditSupplier/" + data["supplier_ID"]);
                $("#supplierModalLabel").text("Edit Supplier");
                $("#modalButton").text("Update");

                // Show the modal
                $("#supplierModal").modal("show");
            });
        };

        function deleteSupplier(id) {
            var postData = {
                id: id
                // __RequestVerificationToken: getToken()
            };

            $.post("/Info/GetSupplier", postData, function (data) {
                console.log(data);
                // Iterate over the properties of the data object and set the corresponding form field values
                $.each(data, function (key, value) {
                    var $element = $("#" + key);
                    if ($element.length) {
                        $element.text(value);
                    }
                });

                $("#deleteID").val(data["supplier_ID"]);

                // Show the modal
                $("#deleteModal").modal("show");
            });
        }

        $("#modalButton").on("click", function() {
            $("#supplierForm").submit();
        });
        
        function clearModal() {
            $('input[type="text"]').val('');
            // $('select').prop('selectedIndex', "");

            $(".field-validation-error").text("");
        }
    </script>
}
