@using QouToPOWebApp.ViewModel

@model QuotationViewModel;

@{
    var sampl = Model;
    ViewData["Title"] = "Create from Quotation";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="container">
    <form asp-action="Extract" method="post" id="quoForm">
        <div class="row g-3 mb-4">
            <div class="col-md">
                <label class="form-label">Upload a Quotation file</label>
                <input type="file" id="pdfFile" accept=".pdf" onchange="uploadPdf(this)" hidden>
                <input asp-for="Quotation.File_path" type="text" value="" hidden />
                <span asp-validation-for="Quotation.File_path" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="No file chosen" id="selectFileInput" readonly>
                    <a href="#" class="btn btn-light border" type="button" id="selectFileBtn">Choose File</a>
                </div>
            </div>
        </div>
        <div class="row g-5 mb-4">
            <div class="col-md-5 px-3">
                <h4>Preview</h4>
                <div class="row justify-content-center" id="preview">
                    <div class="col-12 bg-secondary-subtle p-0 rounded-2 d-flex justify-content-center">
                        <img id="pdfPreview" class="border" src="" filename="@Model.Quotation.File_path" alt="PDF Preview" style="max-width:340px;" />
                    </div>
                    <div class="mt-2 row p-0 justify-content-between" style="max-width:337px;">
                        <div class="col-auto">
                            <a class="btn btn-sm btn-outline-secondary disabled" id="prev" onclick="prevPage()">Previous</a>
                        </div>
                        <div class="col-auto">
                            Page <span id="currentPage">0</span> of <span id="totalPage">0</span>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-sm btn-outline-secondary disabled" id="next" onclick="nextPage()">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h4>Extraction Settings</h4>
                <div class="row g-3 mb-4">
                    <div class="col-xl-8">
                        <div class="row g-3">
                            <div class="col-lg-6 col-xl-12">
                                <div class="row align-items-center">
                                    <label asp-for="Quotation.Pdf_type_ID" class="form-label col-xl-4">PDF type</label>
                                    <div class="col-xl-8">
                                        <select class="form-select col-xl-8" aria-label="PDF type" asp-for="Quotation.Pdf_type_ID" asp-items="ViewBag.pdfTypeList">
                                            <option selected disabled>Choose..</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="Quotation.Pdf_type_ID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-12">
                                <div class="row align-items-center">
                                    <label asp-for="ExtractionMode" class="form-label col-xl-4">Extraction mode</label>
                                    <div class="col-xl-8">
                                        <select class="form-select" asp-for="ExtractionMode">
                                            <option value="lattice">Lattice</option>
                                            <option value="stream">Stream</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 d-grid gap-3 ps-xl-4 py-xl-3">
                        <a class="btn btn-lg btn-info text-white align-content-center" onclick="submitForm()">Extract</a>
                    </div>
                </div>
                <h4>Details</h4>
                <div class="row g-3 mb-3">
                    <div class="col-md-6">
                        <label asp-for="Quotation.Quotation_date" class="form-label"></label>
                        <input asp-for="Quotation.Quotation_date" type="date" class="form-control" value="@(Model.Quotation.Quotation_date_string)"/>
                        <span asp-validation-for="Quotation.Quotation_date" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Quotation.Quotation_number" class="form-label"></label>
                        <input asp-for="Quotation.Quotation_number" type="text" class="form-control" value="@(Model.Quotation.Quotation_number ?? string.Empty)"/>
                        <span asp-validation-for="Quotation.Quotation_number" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Quotation.Payment_term_ID" class="form-label text-nowrap"></label>
                        <select asp-for="Quotation.Payment_term_ID" class="form-select" asp-items="ViewBag.paymentTermList">
                            <option selected disabled>Choose..</option>
                        </select>
                        <span asp-validation-for="Quotation.Payment_term_ID" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Quotation.Delivery_term_ID" class="form-label text-nowrap"></label>
                        <select asp-for="Quotation.Delivery_term_ID" class="form-select" asp-items="ViewBag.deliveryTermList">
                            <option selected disabled>Choose..</option>
                        </select>
                        <span asp-validation-for="Quotation.File_path" class="text-danger"></span>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-12">
                        <div class="row">
                            <label asp-for="Quotation.Supplier_ID" class="form-label"></label>
                            <div class="col col-md-6">
                                <select asp-for="Quotation.Supplier_ID" class="form-select" asp-items="ViewBag.supplierList">
                                    <option selected disabled>Choose..</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="btn btn-secondary">Custom</a>
                            </div>
                            <span asp-validation-for="Quotation.Supplier_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <textarea type="text" class="form-control" id="supplierAddress" placeholder="Supplier address"></textarea>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-12">
                        <div class="row">
                            <label for="delivery" class="form-label">Delivery Address</label>
                            <div class="col col-md-6">
                                <select class="form-select" id="deliveryID" asp-items="ViewBag.deliveryAddressList">
                                    <option selected disabled>Choose..</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="btn btn-secondary text-nowrap">Custom</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <textarea type="text" class="form-control" id="deliveryAddress" placeholder="Delivery address"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 mb-3">
            <div class="col-md">
                <h4>Items</h4>
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Total Amount</th>
                    </tr>
                    @{
                        var totalAmount = 0.0;
                    }
                    @foreach (var item in Model?.Items)
                    {
                        var price = (item.Item_quantity ?? 0) * (item.Item_price ?? 0);
                        totalAmount += price;
                        <tr>
                            <td>@item.Item_name</td>
                            <td>@item.Item_quantity</td>
                            <td>@item.Item_price?.ToString("N0")</td>
                            <td>@price.ToString("N0")</td>
                            <td>@totalAmount.ToString("N0")</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="/js/extractText.js"></script>
}
